*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    background-color: #faf690;
    height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: solid;
    color: rgba(245, 117, 35, 0.61);
}

.wrapper {
    width: 80%;
    font-family: Verdana, Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main_title{
    font-size: 25px;
    color: #f71d1d;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

article {
    display: flex;
    flex-direction: column;

}

.table_price {
    border-collapse: collapse;
    border-left: 3px solid #F79361;
    border-right: 3px solid #F79361;
    border-bottom: 3px solid #F79361;
    font-family: "Lucida Grande", sans-serif;
}
.table_price caption {
    background: #F79361;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.table_price td, .table_price th {
    padding: 10px;
}
.table_price th {
    text-align: left;
    font-size: 18px;
}
.table_price tr:nth-child(2n) {
    background: #E5E5E5;
}


.table_price a:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
}

.view{
    margin-top: 15px;
}

footer{
    flex: 0 0 auto;
}